<div class="container">
  <form
    class="mt-4"
    name="container-form"
    method="post"
    action="/users/handle-form-actions"
  >
    <div>
      <h3>Danh sách tài khoản</h3>
      {{!-- <a href="/admin/me/trash/users">Rác ({{deleteduser}})</a> --}}
      <div class="mt-4 d-flex flex-row align-items-center">

      </div>
    </div>

    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Stt</th>
          <th scope="col">Tên tài khoản
          </th>
          <th scope="col">Email</th>
          <th scope="col">Hình ảnh</th>
          <th scope="col">Role
          </th>
          <th scope="col">Thời Gian Tạo
          </th>
          </th>
          <th scope="col">Thời Gian Tạo
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
          <tr>
            <td>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="userIds[]"
                  value="{{this._id}}"
                />
              </div>
              <th scope="row">{{sum @index 1}}</th>
            </td>
            <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td class="" style="width: 100px;height:100px"><img class="img-fluid"  style="width: 100%;height:100%" src="{{this.avatar}}" style="" alt="" /></td>
            <td>{{this.role}}</td>
            <td>{{this.createdAt}}</td>
            <td>
              <a
                href="/admin/auth/{{this._id}}/viewEdit"
                class="btn btn-link"
              >Sửa</a>
              <a
                href=""
                data-id="{{this._id}}"
                class="btn btn-link"
                data-toggle="modal"
                data-target="#delete-user-modal"
              >Xóa</a>
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="5" class="text-center">Danh sách tài khoản chưa có
              thành viên
              <a href="/users/create">Đăng Danh sách tài khoản</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </form>
</div>
{{! Confirm delete user }}
<!-- Modal -->
<div
  class="modal fade"
  id="delete-user-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa sản phẩm này không?
      </div>
      <div class="modal-footer">
        <button
          id="btn-delete-user"
          type="button"
          class="btn btn-danger"
        >Xóa bỏ</button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
        >Hủy</button>
      </div>
    </div>
  </div>
</div>

{{! Delete hidden form  }}
<form class="mt-4" name="delete-user-form" method="post">

</form>
<script type="module">
  document.addEventListener('DOMContentLoaded', function(){ var userId; var deleteForm = document.forms["delete-user-form"]; var containerForm =
  document.forms['container-form'] ;var btnDeleteUser =
  document.getElementById('btn-delete-user'); var checkboxAll =
  $('#checkbox-all');var userItemCheckbox = $('.form-check-input'); var
  checkAllSubmitBtn = $('.check-all-submit-btn');
  $('#delete-user-modal').on('show.bs.modal', function (event) { var button =
  $(event.relatedTarget); userId = button.data('id') ; }) ;
  btnDeleteUser.onclick = function(){ deleteForm.action = "/admin/auth/" + userId +
  "/deleteUser?_method=delete" ; deleteForm.submit();} 
  ;
  });
</script>