
  <h3>Danh sách tài khoản</h3>
  <table class="table align-middle mb-0 bg-white table-hover table-responsive">
    <thead class="bg-light">
      <tr>
        <th>#</th>
        <th>STT</th>
        <th>Name</th>
        <th>User Name</th>
        <th>Role</th>
        <th>CreatedAt</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        <tr>
          <td>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="userIds[]"
                value="{{this._id}}"
              />
            </div>
            <th scope="row">{{sum @index 1}}</th>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <img
                src="{{this.avatar}}"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
              />
              <div class="ms-3 ml-2">
                <p class="fw-bold mb-1">{{this.fullName}}</p>
                <p class="text-muted mb-0">{{this.email}}</p>
              </div>
            </div>
          </td>
          <td>
            <p class="fw-normal mb-1">{{this.userName}}</p>
            <p class="text-muted mb-0">IT department</p>
          </td>
          <td>
            <span
              class="badge badge-success rounded-pill d-inline"
            >{{this.admin}}</span>
          </td>
          <td class="createdAt">{{this.createdAt}}</td>
          <td>
            <a
              href="/admin/auth/{{this._id}}/viewEdit"
              class="btn btn-link btn-sm btn-rounded bg-primary text-white"
            ><i class="far fa-edit"></i></a>
            <a
              href="/admin/auth/{{this._id}}/deleteUser"
              data-id="{{this._id}}"
              class="btn btn-link btn-sm btn-rounded bg-danger text-white"
              data-toggle="modal"
              data-target="#delete-user-modal"
            ><i class="far fa-trash-alt"></i></a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5" class="text-center">Danh sách tài khoản chưa có thành
            viên
            <a href="/users/create">Đăng Danh sách tài khoản</a>
          </td>
        </tr>
      {{/each}}
    </tbody>  
  </table>

{{! Confirm delete user }}
<!-- Modal -->
<div
  class="modal fade"
  id="delete-user-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa sản phẩm này không?
      </div>
      <div class="modal-footer">
        <button id="btn-delete-user" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
        >Hủy</button>
      </div>
    </div>
  </div>
</div>


</form>
<script type="module" src="/js/admin/me/listUsers.js">

</script>