<div class="container">
  <h3>Danh mục của tôi</h3>
  <div class="text-right mr-2 mb-2">
    <a class="btn btn-primary btn-xl ms-3" href="/admin/categories/create">
      <i class="fa fa-plus"></i>
    </a>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Sl</th>
        <th scope="col">Tên Danh Mục
        </th>
        <th scope="col" colspan="2">Thời Gian Tạo
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each categories}}
        <tr>
          <td>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="productIds[]"
                value="{{this._id}}"
              />
            </div>
            <th scope="row">{{sum @index 1}}</th>
          </td>
          <td>{{this.nameCategory}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a
              href="/admin/categories/{{this._id}}/edit"
              class="btn btn-link"
            >Sửa</a>
            <a
              href=""
              data-id="{{this._id}}"
              class="btn btn-link"
              data-toggle="modal"
              data-target="#delete-category-modal"
            >Xóa</a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5" class="text-center">Bạn chưa đăng danh mục nào.
            <a href="/categories/create">Đăng danh mục</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! Confirm delete product }}
<!-- Modal -->
<div
  class="modal fade"
  id="delete-category-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa sản phẩm này không?
      </div>
      <div class="modal-footer">
        <button
          id="btn-delete-category"
          type="button"
          class="btn btn-danger"
        >Xóa bỏ</button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
        >Hủy</button>
      </div>
    </div>
  </div>
</div>

{{! Delete hidden form  }}
<form class="mt-4" name="delete-category-form" method="post">

</form>

<script type="module" src="/src/public/js/admin/me/listCategories.js">
</script>