<div class="">
  <form
    class="mt-4 pl-3"
    name="container-form"
    method="post"
    action="/admin/products/handle-form-actions"
  >
    <div>
      <h3>Sản phẩm của tôi</h3>
      <a href="/admin/me/trash/products"><i class="fa-solid fa-trash"></i>
        ({{deletedProduct}})</a>
      <div class="mt-4 d-flex flex-row align-items-center">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="checkbox-all"
          />
          <label class="form-check-label" for="checkbox-all">
            Chọn tất cả
          </label>
        </div>
        <select
          class="form-control form-control-sm col-lg-2 checkbox-select-option"
          name="action"
          required
        >
          <option value="">-- Chọn hành động --</option>
          <option value="delete">Xóa</option>
        </select>

        <button
          class="btn btn-primary btn-sm check-all-submit-btn"
          disabled="disabled"
        >Thực hiện</button>
      </div>
      <div class="text-right mr-2 mb-2">
        <a class="btn btn-primary btn-xl ms-3" href="/admin/products/create">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>

    <table class="table mt-4">
      <thead>
        <tr>
          <th>#</th>
          <th>Sl</th>
          <th>Name
            <a href="?_sort&column=name&type=desc"><i
                class="fa-solid fa-sort"
              ></i></a></th>
          <th>Image</th>
          <th>Price</th>
          <th>CreatedAt</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <td>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="productIds[]"
                  value="{{this._id}}"
                />
              </div>
              <th scope="row">{{sum @index 1}}</th>
            </td>
            <td style="width: 300px;">{{this.name}}</td>
            <td><img
                src="{{this.image}}"
                style="width: 80px; height: 80px"
                class="rounded"
                alt=""
              /></td>
            <td class="text-danger font-weight-bold">{{formatNumber this.price}}
              đ</td>
            <td class="createdAt">{{this.createdAt}}</td>
            <td>
              <a
                href="/admin/products/{{this._id}}/edit"
                class="btn btn-link btn btn-link btn-sm btn-rounded bg-primary text-white"
              ><i class="far fa-edit"></i></a>
              <a
                href=""
                data-id="{{this._id}}"
                class="btn btn-link btn-sm btn-rounded bg-danger text-white"
                data-toggle="modal"
                data-target="#delete-product-modal"
              ><i class="far fa-trash-alt"></i></a>
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="5" class="text-center">Bạn chưa đăng sản phẩm nào.
              <a href="/admin/products/create">Đăng sản phẩm</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </form>
</div>

{{! Confirm delete product }}
<!-- Modal -->
<div
  class="modal fade"
  id="delete-product-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa sản phẩm này không?
      </div>
      <div class="modal-footer">
        <button id="btn-delete-product" type="button" class="btn btn-danger">Xóa
          bỏ</button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
        >Hủy</button>
      </div>
    </div>
  </div>
</div>

{{! Delete hidden form  }}
<form class="mt-4" name="delete-product-form" method="post">

</form>
<script type="module" src="/js/admin/me/listProducts.js">
</script>