<div class="container mt-4">
  <div>
    <h3>Thùng rác của tôi</h3>
    <a href="/admin/me/stored/products">Danh sách sản phẩm của tôi</a>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên sản phẩm </th>
        <th scope="col">Giá</th>
        <th scope="col">Thời Gian Tạo</th>
        <th scope="col" colspan="2">Thời Gian Xóa</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>

          <td>{{this.name}}</td>
          <td>{{this.price}}</td>
          <td>{{this.createdAt}}</td>
          <td>{{this.deletedAt}}</td>
          <td>
            <a
              href=""
              class="btn btn-link btn-restore"
              data-id="{{this._id}}"
            >Khôi phục</a>
            <a
              href=""
              data-id="{{this._id}}"
              class="btn btn-link"
              data-toggle="modal"
              data-target="#delete-product-modal"
            >Xóa vĩnh viễn</a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5" class="text-center">Thùng rác trống.
            <a href="/admin/me/stored/products">Danh sách sản phẩm</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! Confirm delete product }}
<!-- Modal -->
<div
  class="modal fade"
  id="delete-product-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hành động này không thể khôi phục . Bạn vẫn muốn xóa sản phẩm này?
      </div>
      <div class="modal-footer">
        <button id="btn-delete-product" type="button" class="btn btn-danger">Xóa
          vĩnh viễn</button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
        >Hủy</button>
      </div>
    </div>
  </div>
</div>

{{! Delete hidden form  }}
<form class="mt-4" name="delete-product-form" method="post"></form>
<form class="mt-4" name="restore-product-form" method="post"></form>
<script type="module" src="/js/admin/me/trashProducts.js">
</script>