<h3>Đây là trang Admin</h3>
<div class="row p-2">
  <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
    <a
      class="card h-100 bg-primary text-light d-block nav-link"
      href="/admin/me/stored/categories"
    >
      <div class="card-body">
        <h5 class="card-subtitle text-center">Category</h5>
        <div class="row align-items-center gx-2">
          <div class="d-flex align-items-center">
            <h2 class="card-title pr-3">{{countCategory}}</h2>
            <span class="text">Danh mục</span>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
    <a
      class="card h-100 bg-warning text-white d-block nav-link"
      href="/admin/me/stored/products"
    >
      <div class="card-body">
        <h5 class="card-subtitle text-center">Products</h5>
        <div class="row align-items-center gx-2">
          <div class="d-flex align-items-center">
            <h2 class="card-title pr-3">{{countProduct}}</h2>
            <span class="text">Quyển sách</span>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
    <a
      class="card h-100 d-block text-info nav-link"
      href="/admin/me/stored/listComments"
    >
      <div class="card-body">
        <h5 class="card-subtitle text-center">Comment</h5>
        <div class="row align-items-center gx-2">
          <div class="d-flex align-items-center">
            <h2 class="card-title pr-3">{{countComment}}</h2>
            <span class="text">Đánh giá</span>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
    <a
      class="card h-100 bg-danger text-white d-block nav-link"
      href="/admin/me/stored/listUser"
    >
      <div class="card-body">
        <h5 class="card-subtitle text-center">User</h5>
        <div class="row align-items-center gx-2">
          <div class="d-flex align-items-center">
            <h2 class="card-title pr-3">{{countUser}}</h2>
            <span class="text">Tài Khoản</span>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
    <a
      class="card h-100 bg-success text-white d-block nav-link"
      href="/admin/me/stored/listOrders"
    >
      <div class="card-body">
        <h5 class="card-subtitle text-center">Order</h5>
        <div class="row align-items-center gx-2">
          <div class="d-flex align-items-center">
            <h2 class="card-title pr-3">{{countOrder}}</h2>
            <span class="text">Đơn Hàng</span>
          </div>
        </div>
      </div>
    </a>
  </div>

</div>