<div class="container">
  <form
    class="mt-4"
    name="container-form"
  >
    <div>
      <h3>Thông tin tài khoản {{user.fullName}}</h3>
    </div>

    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên tài khoản</th>
          <th scope="col">Tên đăng nhập</th>
          <th scope="col">Email</th>
          <th scope="col">Hình ảnh</th>
          <th scope="col"></th>
          </th>
          </th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="userId"
                  value="{{user._id}}"
                />
              </div>
            </td>
            <td>
              <input type="text" name="fullName" class="form-control fullName" value="{{user.fullName}}">
            </td>
            <td>
              <input type="text" name="userName" class="form-control userName" value="{{user.userName}}">
            </td>
            <td><input style="width:260px" name="email" class="border-0 form-control email" type="text" value="{{user.email}}"></td>
            <td class="" style="width: 100px;height:100px"><img class="img-fluid"  style="width: 100%;height:100%" src="{{user.avatar}}" style="" alt="" />
            <input type="text" class="avatar" name="avatar" value="{{user.avatar}}" hidden></td>
            <td>
              <a
                class="btn btn-link"
              >Cập nhật
              </a>            
            </td>
          </tr>
      </tbody>
    </table>
  </form>
</div>
{{! Confirm delete user }}
<!-- Modal -->

</form>
<script type="module">  
    const url = location.href; const id = url.split("/")[5];
    const btnEdit = document.querySelector(".btn-link");
    btnEdit.addEventListener("click", async (e) => {
    e.preventDefault();
    const fullName = document.querySelector(".fullName").value;
    const userName = document.querySelector(".userName").value;
    const email = document.querySelector(".email").value;
    const avatar = document.querySelector(".avatar").value;
    const response = await
  fetch(`http://localhost:1999/admin/auth/${id}/updateUser`,
    { method: "PUT",
  headers: { "Content-Type": "application/json" }, body: JSON.stringify({fullName:fullName,userName:userName,email:email,avatar:avatar}),}); 
    const data = await response.json();

    if(data?.success === false){
      return alert(data?.message)
    }else{
      alert(data?.message)
    }
    location.href = "/admin/me/listUser";
    console.log(data);
  });
</script>