<div class="container">
  <form
    class="mt-4"
    name="container-form"
    method="post"
    action=""
  >
    <div>
      <h3>Thông tin tài khoản {{users.fullName}}</h3>
      {{!-- <a href="/admin/me/trash/users">Rác ({{deleteduser}})</a> --}}
    </div>

    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên tài khoản
          </th>
          <th scope="col">Email</th>
          <th scope="col">Hình ảnh</th>
          </th>
          </th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="userIds[]"
                  value="{{users._id}}"
                />
              </div>
            </td>
            <td><input type="text" class=" border-primary form-control" value="{{users.fullName}}"></td>
            <td><input style="width:260px" class="border-0 form-control" type="text" value="{{users.email}}"></td>
            <td class="" style="width: 100px;height:100px"><img class="img-fluid"  style="width: 100%;height:100%" src="{{users.avatar}}" style="" alt="" /></td>
            <td>
              <a
                href="/admin/auth/{{users._id}}/update"
                class="btn btn-link"
              >Cập nhật</a>
              <a
                href=""
                data-id="{{users._id}}"
                class="btn btn-link"
                data-toggle="modal"
                data-target="#delete-user-modal"
              >Xóa</a>
            </td>
          </tr>
      </tbody>
    </table>
  </form>
</div>
{{! Confirm delete user }}
<!-- Modal -->
<div
  class="modal fade"
  id="delete-user-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa Danh sách tài khoản này không?
      </div>
      <div class="modal-footer">
        <button id="btn-delete-user" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
        >Hủy</button>
      </div>
    </div>
  </div>
</div>

{{! Delete hidden form  }}
<form class="mt-4" name="delete-user-form" method="post">

</form>
<script type="module">
  document.addEventListener('DOMContentLoaded', function(){ var userdId; var
  deleteForm = document.forms['delete-user-form']; var containerForm =
  document.forms['container-form'] ;var btnDeleteUser =
  document.getElementById('btn-delete-user'); var checkboxAll =
  $('#checkbox-all');var userItemCheckbox = $('.form-check-input'); var
  checkAllSubmitBtn = $('.check-all-submit-btn');
  $('#delete-user-modal').on('show.bs.modal', function (event) { var button =
  $(event.relatedTarget); userdId = button.data('id') ; }) ;
  btnDeleteUser.onclick = function(){ deleteForm.action = '/users/' + userdId +
  '?_method=delete' ; deleteForm.submit()}})
  
</script>