<div class="container-fluid p-2">
  <style>
    .list-category a{display: block; color: #000;} .list-category a:hover{
    color: #087b39; }
  </style>
  <div class="p-4">
    <div class="row">
      <div
        class="category col-xl-2 col-md-3 col-sm-3 col-xs-12 bg-light rounded"
      >
        <ul class="list-category list-unstyled text-dark rounded">
          <a href="/categoryProduct" class="py-2 d-block font-weight-bold"><li
            >Tất cả danh mục</li></a>
          {{#each categories}}
            <a
              class="pt-2 d-block"
              href="/categoryProduct/listProduct/{{this._id}}"
            >
              <li>{{this.nameCategory}}</li>
            </a>
          {{/each}}
        </ul>
      </div>
      <div class="row col-xl-10 col-md-9 col-md-9">
        {{#each products}}
          <div
            class="col-xl-3 col-md-4 d-flex align-items-stretch pagination-circle"
          >
            <div class="card mb-3 w-100">
              <div class="card-image w-100" style="height: 250px;">
                <a
                  href="admin/products/{{this.slug}}"
                  class="d-block rounded-lg lift lift-lg h-100 nav-link p-2"
                >
                  <img
                    class="img-fluid h-100 w-100 d-block"
                    src="{{this.image}}"
                    alt="{{this.image}}"
                  />

                </a>
              </div>
              <div class="card-body p-0">
                <a href="/admin/products/{{this.slug}}" class="nav-link p-2">
                  <p
                    style="font-size: 16px;"
                    class="card-title text-truncate text-dark"
                  >{{this.name}}</p>
                </a>
                <p
                  class="card-text text-danger text-right font-weight-bold p-2"
                >{{formatNumber this.price}}
                  đ</p>
              </div>
              <div class="card-footer">
                <button href="#" class="btn btn-primary bg-danger border-0">Mua
                  sản phẩm</button>
              </div>
            </div>
          </div>
        {{/each}}
        {{#each lproducts}}
          <div
            class="col-xl-3 col-md-4 d-flex align-items-stretch pagination-circle"
          >
            <div class="card mb-3">
              <div class="card-image" style="height: 250px;">
                <a
                  href="admin/products/{{this.slug}}"
                  class="d-block rounded-lg lift lift-lg h-100 nav-link p-2"
                >
                  <img
                    class="img-fluid h-100 w-100 d-block"
                    src="{{this.image}}"
                    alt="{{this.image}}"
                  />

                </a>
              </div>
              <div class="card-body">
                <a href="/admin/products/{{this.slug}}" class="nav-link p-0">
                  <h5
                    style="font-size: 18px;"
                    class="card-title text-truncate text-dark"
                  >{{this.name}}</h5>
                </a>
                <p
                  class="card-text text-danger text-right font-weight-bold p-2"
                >{{formatNumber this.price}}
                  đ</p>
              </div>
              <div class="card-footer">
                <button href="#" class="btn btn-primary bg-danger border-0">Mua
                  sản phẩm</button>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>