<form
  class="mt-4"
  name="container-form"
  method="post"
  action="/courses/handle-form-actions"
>
  <div>
    <h3>Khóa học của tôi</h3>
    <a href="/me/trash/courses">Rác ({{deletedCourse}})</a>

    <div class="mt-4 d-flex flex-row align-items-center">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkbox-all"
        />
        <label class="form-check-label" for="checkbox-all">
          Chọn tất cả
        </label>
      </div>
      <select
        class="form-control form-control-sm col-lg-2 checkbox-select-option"
        name="action"
        required
      >
        <option value="">-- Chọn hành động --</option>
        <option value="delete">Xóa</option>
      </select>

      <button
        class="btn btn-primary btn-sm check-all-submit-btn"
        disabled="disabled"
      >Thực hiện</button>
    </div>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Sl</th>
        <th scope="col">Tên Khóa Học
          <a href="?_sort&column=name&type=desc"><i
              class="fa-solid fa-sort"
            ></i></a></th>
        <th scope="col">Trình Độ
        </th>
        <th scope="col" colspan="2">Thời Gian Tạo

        </th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <td>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="courseIds[]"
                value="{{this._id}}"
              />
            </div>
            <th scope="row">{{sum @index 1}}</th>
          </td>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
            <a
              href=""
              data-id="{{this._id}}"
              class="btn btn-link"
              data-toggle="modal"
              data-target="#delete-course-modal"
            >Xóa</a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5" class="text-center">Bạn chưa đăng khóa học nào.
            <a href="/courses/create">Đăng khóa học</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</form>

{{! Confirm delete course }}
<!-- Modal -->
<div
  class="modal fade"
  id="delete-course-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa khóa học này không?
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa
          bỏ</button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
        >Hủy</button>
      </div>
    </div>
  </div>
</div>

{{! Delete hidden form  }}
<form class="mt-4" name="delete-course-form" method="post">

</form>
<script type="module">
  document.addEventListener('DOMContentLoaded', function(){ var coursedId; var
  deleteForm = document.forms['delete-course-form']; var containerForm =
  document.forms['container-form'] ;var btnDeleteCourse =
  document.getElementById('btn-delete-course'); var checkboxAll =
  $('#checkbox-all');var courseItemCheckbox = $('.form-check-input'); var
  checkAllSubmitBtn = $('.check-all-submit-btn');
  $('#delete-course-modal').on('show.bs.modal', function (event) { var button =
  $(event.relatedTarget); coursedId = button.data('id') ; }) ;
  btnDeleteCourse.onclick = function(){ deleteForm.action = '/courses/' +
  coursedId + '?_method=delete' ; deleteForm.submit()}
  checkboxAll.change(function(){ var isCheckedAll = $(this).prop('checked');
  courseItemCheckbox.prop('checked',isCheckedAll);renderCheckAllSubmitBtn(); });
  courseItemCheckbox.change(function(){ var isCheckedAll =
  courseItemCheckbox.length ===
  $('.form-check-input:checked').length;checkboxAll.prop('checked',isCheckedAll);
  renderCheckAllSubmitBtn()}); function renderCheckAllSubmitBtn(){ var
  checkedCount = $('.form-check-input:checked').length; if(checkedCount>0){
  checkAllSubmitBtn.attr('disabled', false) }else{
  checkAllSubmitBtn.attr('disabled', true) } } console.log('')});
</script>